body{

	margin: auto;
    background-image:url(http://image.noelshack.com/fichiers/2016/05/1454541423-makee.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
      background-size: cover;
}
/*#### Header ####*/


#headlogo{


	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/*#### nav ####*/

.nav.fixed{
	position:fixed;
	top:0;
	z-index:1000;
    display: flex;
    justify-content:center;
    margin:0;
    padding:0;
    background:#000000  url('nav_bg.jpg') 0 0 repeat-x;
    width:100%;
    border:1px solid #ffffff;
    border-width:0px 0;
}

#navi{
    
    display: flex;
    justify-content:center;
    margin:0;
    padding:0;
    background:#000000  url('nav_bg.jpg') 0 0 repeat-x;
    width:100%;
    border:1px solid #ffffff;
    border-width:1px 0;
}

#navi li {

    display:inline;
    padding:0;
    margin:0;
}

#navi a:link, a:visited {
    color:#fffdff;
    background:#000000 ; 
    padding: 12px 15px 12px 15px;   
    width:auto;
    display: flex;
    text-decoration:none;
    
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:0.5pt
}

#navi a:hover {
color:#fff;
background:#848484;
}

/*#### content ####*/

#contener{
    display: flex;
    justify-content: space-between;
}

#food{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
    border:2px solid;
    max-height: 254px;
    max-width: 500px;
}

section{
    padding-left: 12px;
    margin-top: 20px;
    margin-left:30px;
    width: 73%;
    border: 2px solid black;
    background-color: #ffebd3;
    color: black;
}
/* part aside*/
aside{
    width: 20%;
    padding: 12px;
    margin-right: 30px;
}

#aside1{
    padding-bottom: 12px;
    margin-top: 20px;
    background-color : #ffffff;
    border: 3px solid black;
}
#aside2{
    padding-bottom: 12px;
    margin-top: 10px;
    background-color : #ffffff;
    border: 3px solid black;    
}

#aside3{
    margin-top: 10px;
    background-color : #fff;
    border: 3px solid black;
}

#asidetitle{
    font-weight:bold;
    text-decoration:underline overline;
    color:#000000;
    letter-spacing:1pt;
    font-size:24px;
    text-align:center;
    font-family:arial, helvetica, sans-serif;
    line-height:0;
}

#asidecontent{
    padding-left: 12px;
    list-style-type: none;
}



/*###############FOOTER#################"*/
footer{
margin-top: 30px;
display: flex;
justify-content: space-between;
background-color: black;
border-top: 1px solid white;
height:98px;
}

/* footer resto*/
#restofooter{
    padding-top: 10px;
    display: block;
    background-color:black;
    color: white;
    display: flex;
    justify-content: flex-start;
}

#navcontener {
    margin:5px;
    padding-right:20px;
    border-left: 1px solid white;
    height:55px; 
}

#footnav a:link, a:visited a:hover {
    text-decoration:none;
    color:white;
    padding-left:10px;
    font-family:arial, helvetica, sans-serif;


}

#inforesto{
    margin:5px;
    margin-left:50px;
    padding-left:10px;
    border-left: 1px solid white;
    height:70px; 
}

/* footer des credits*/
#creditfooter{
display: flex;
justify-content: flex-start;
}

#credit{
    margin:5px;
    padding-right:5px;
    text-align: right;
    background-color: black;
    font-family:arial, helvetica, sans-serif;
    color:white;
}

#creditlogo{
    padding-top:5px;
    margin-right:10px;
}
