body{

	margin: auto;
    background-image:url(image/makee.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
      background-size: cover;


}

header{


}

#headlogo{


	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


.nav.fixed{
	position:fixed;
	top:0;
	z-index:1000;
  
    display: flex;
    justify-content:center;
    margin:0;
    padding:0;
    background:#000000  url('nav_bg.jpg') 0 0 repeat-x;
    width:100%;
    border:1px solid #ffffff;
    border-width:0px 0;
}

#navi
{
    
    display: flex;
    justify-content:center;
    margin:0;
    padding:0;
    background:#000000  url('nav_bg.jpg') 0 0 repeat-x;
    width:100%;
    border:1px solid #ffffff;
    border-width:1px 0;
}

#navi li 
{

    display:inline;
    padding:0;
    margin:0;
}

#navi a:link, a:visited 
{
    color:#fffdff;
    background:#000000 ; 
    padding: 12px 15px 12px 15px;   
    width:auto;
    display: flex;
    text-decoration:none;
    
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:0.5pt
}

#navi a:hover {
color:#fff;
background:#848484;
}


#contener{
    display: flex;
    justify-content: space-between;

}


section{
    padding-left: 12px;


    margin-top: 20px;
    margin-left:30px;
    width: 70%;
    border: 2px solid black;
    background-color: white;
    color: black;
}

aside{

width: 20%;
padding: 12px;
margin-right: 30px;

}

#aside1{
    
    padding-left: 12px;
    padding-bottom: 12px;
    margin-top: 20px;
    background-color : #ffc9a8;
    border: 4px solid black;
    
}

#aside2{
    
    padding-left: 12px;
        padding-bottom: 12px;
    margin-top: 10px;
    background-color : #ffc9a8;
    border: 4px solid black;
    
}






/*###############FOOTER#################"*/

footer{
    margin-top: 30px;
    padding-top: 25px;
    display: block;
    background-color:black;
    color: white;
}

#credit{
   text-align: center;
   float: center;
   }
